<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>There is equipment list.</title>
</head>
<body>
    <div class="container-fluid"><!--自适应宽高-->
    <div class="row-fluid">
        <div class="span12">
             <table class="table table-hover table-bordered">
                 <thead>
                <tr>
                    <th>序号</th>
                    <th>设备id</th>
                    <th>设备状态</th>
                </tr>
                </thead>
                 <tbody>
                 {% for equ_obj in equ_obj_list %}
                      <tr>
                    <td> {{ forloop.counter }}</td>
                      <td> {{ equ_obj.eqId }}</td>
                      <td>{{ equ_obj.eqState }}</td>
                     <td>
                    <a href="/labDemo/edit_equ/?id={{ equ_obj.eqId }}">修改</a>
                    <a href="/labDemo/delete_equ/?id={{ equ_obj.eqId }}">删除</a>
                </td>
                </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>